---
import { Image } from "astro:assets";
import image1 from "../images/image-1.webp";
import image2 from "../images/image-2.webp";
import image3 from "../images/image-3.webp";
import image4 from "../images/image-4.webp";

const projects = [
  {
    title: "ANAXAGO",
    description: "design system | site vitrine",
    techs: [
      "next",
      "twig",
      "typescript",
      "tailwind",
      "builderio",
      "storyblock",
    ],
    achievements: [
      "Développement complet du design system en Nextjs, TypeScript et Tailwind.",
      "Intégration sur Storyblock et BuilderIO.",
    ],
    image: image1,
  },
  {
    title: "INFLUENCE4YOU",
    description: "design system | webapp",
    techs: ["vue", "tailwind", "tailwind", "ci/cd"],
    achievements: [
      "Développement du nouveau design system et de la librairie de plus de 60 composants en Vue 2 et Tailwind.",
      "Développement d’une extension Chrome & Firefox de statistiques de profil Instagram.",
    ],
    image: image2,
  },
  {
    title: "PREEZEO",
    description: "site vitrine",
    techs: ["astro", "vue", "typescript", "tailwind", "ci/cd"],
    achievements: ["Intégration complète du site vitrine."],
    image: image3,
  },
  {
    title: "DATAÏADS",
    description: "site vitrine",
    techs: ["vue", "nuxt", "typescript", "tailwind"],
    achievements: [
      "Intégrations de landing pages custom de plusieurs e-commerce en Vue 3.",
      "Décathlon - Tag Heur - Alinéa - Aigle - Gémo - Célio - Monfairepart - Dalloz - Ultra Premium Direct - Interflora - Toner",
    ],
    image: image4,
  },
];
---

<section
  class="relative flex items-stretch flex-col gap-6 grow overflow-clip md:grid md:grid-cols-2 md:gap-10 xl:grid-cols-3"
>
  {
    projects.map((project, index) => (
      <article class="flex flex-col gap-2 font-medium">
        <h3 class="ml-auto"> 0{index + 1}</h3>
        <div class="overflow-clip h-12 w-full">
          <Image
            class="object-cover w-full max-h-12"
            src={project.image}
            alt="decorative image"
            width={800}
            height={48}
            draggable={false}
            format="webp"
          />
        </div>
        <div class="flex items-center justify-between gap-4 whitespace-nowrap">
          <h2 class="font-normal tracking-[3px]">{project.title}</h2>
          <div class="bg-primary h-px w-full" />
          <h3>{project.description}</h3>
        </div>
        <div class="divide-x divide-primary flex flex-wrap">
          {project.techs.map((tech, techIndex) => (
            <h3
              class:list={[
                techIndex === 0 ? "pl-0" : "pl-2",
                techIndex === project.techs.length - 1 ? "pr-0" : "pr-2",
              ]}
            >
              {tech}
            </h3>
          ))}
        </div>
        <ol class="list-disc pl-5">
          {project.achievements.map((achievement) => (
            <li>{achievement}</li>
          ))}
        </ol>
      </article>
    ))
  }
</section>

<style></style>
